.confirm{
    
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
  
}

.confirm:hover,
.confirm:focus {
  background-color: #a44545;
}

.confirm:disabled,
.confirm:hover:disabled,
.confirm:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}